<%= render "shared/header" %>

<%# 痛みの記録 %>
<div class='pain-contents'>
  <h2 class='title'>痛みの記録</h2>

  <ul class='pain-lists'>
    <% @pains.each do |pain| %>
    <li class='list'>
      <div class='pain-info'>
        <h3 class='pain-level'>
          <%= pain.scale.name %>
        </h3>
        <div class='pain-time'>
          <%= pain.time %>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
  <%# 痛み情報がない場合のダミー表示 %>
  <% if @pains.blank? then %>
  <div class='add-pain-info'>
    <%= image_tag "pain_scale.jpg", class:"pain-scale", size: "350x100" %>
    <div class='-info'>
      <h4 class='item-name'>
        痛みをコントロールするために記録してみてね！
      </h4>
    </div>
  </div>
  <% end %>
  <%# /痛み情報がない場合のダミー表示 %>
</div>
<%# /痛みの記録 %>

<%# 痛み記録ボタン %>
<div class='pain-btn'>
  <%= link_to image_tag("cat_nurse.png", class:"pain-scale-btn", size: "300x300"), new_pain_path %>
  <h3>わたしをクリックして痛みを登録してね！</h3>
</div>
<%# /痛み記録ボタン %>